<h1>EN estos momentos te encunetras en la pagina SiUp</h1>
<form action="/alta"  method="POST">
    <input type="email" name="email" id="" placeholder="Insert Email">
    <input type="password" name="password" placeholder="Inserte Password">
    <button type="submit">
        Registrate 
    </button>
</form>